body {
	background-image: url(img/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

img-responsive {
    width: 100%;
    height: auto;
}